<div class="user-details">
  <h1>About Me</h1>
    <img src='/assets/imgs/thumbnail.jpg' style=" height:150px; border-radius: 50%; border: 5px solid #000000;">
    <p>{{ site.user_description }}</p>
    <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/c/DJsOfficeHours">
      <img alt="Youtube" src="https://img.shields.io/badge/DJ's Office Hours%20-%23FF0000.svg?&style=for-the-badge&logo=YouTube&logoColor=white"/>
    </a>
    <p></p>
    <img align="center" src="https://github-readme-stats-six-iota.vercel.app/api/top-langs/?username=da-james&layout=compact&hide_border=true&exclude_repo=github-readme-stats,da-james.github.io,stay-active-la,gisworkshop,temperature-recorder,datafest2018,dataFest2019,muscleBot,approxamania,Emacs-init.el,James_David_CV"/>
</div>